body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 15px 30px;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
}



/* Code for Buttons */
button {
  background: orange;
  color: black;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 10px gray;
}

button:hover {
  background: gold;
}


/* Code for the Top of the Page */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: rgb(126, 169, 224);
}

.section {
  padding: 50px 30px;
  text-align: center;
}



/* Code for Cards */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card,
.project-card {
  background: rgb(157, 204, 219);
  padding: 25px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
}

.project-card a {
  color: navy;
  font-weight: bold;
}



/* Dark mode */
.dark {
  background-color: #111;
  color: white;
}

.dark .hero {
  background-color: #333;
}

.dark .card,
.dark .project-card {
  background-color: #222;
  color: white;
}

.dark .project-card a {
  color: orange;
}



/* Code for Images */
.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-design-cert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    cursor: pointer;
}

.web-design-cert-image {
    width: 200px;
    height: auto;
    border: 3px solid #333;
    object-fit: cover;
    cursor: pointer;
}